body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2353 {
  position:absolute;
  left:127px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:610px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:966px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2355 {
  position:absolute;
  left:159px;
  top:133px;
  width:547px;
  height:966px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:475px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u2358 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:84px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2360 {
  position:absolute;
  left:362px;
  top:175px;
  width:142px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:34px;
}
#u2362 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:34px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:9px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2364 {
  position:absolute;
  left:185px;
  top:173px;
  width:127px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u2367 {
  position:absolute;
  left:159px;
  top:892px;
  width:546px;
  height:1px;
}
#u2368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2369 {
  position:absolute;
  left:171px;
  top:485px;
  width:51px;
  height:44px;
}
#u2370 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2371 {
  position:absolute;
  left:240px;
  top:485px;
  width:138px;
  height:16px;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2375 {
  position:absolute;
  left:171px;
  top:855px;
  width:17px;
  height:16px;
}
#u2375_img.selected {
}
#u2375.selected {
}
#u2376 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:188px;
  top:855px;
  width:38px;
  height:16px;
}
#u2378 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2380 {
  position:absolute;
  left:282px;
  top:851px;
  width:25px;
  height:25px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2382 {
  position:absolute;
  left:314px;
  top:853px;
  width:82px;
  height:16px;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2384 {
  position:absolute;
  left:160px;
  top:215px;
  width:546px;
  height:257px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2386 {
  position:absolute;
  left:91px;
  top:664px;
  width:17px;
  height:16px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2390 {
  position:absolute;
  left:240px;
  top:513px;
  width:147px;
  height:16px;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:284px;
}
#u2392 {
  position:absolute;
  left:171px;
  top:547px;
  width:253px;
  height:284px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:134px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:284px;
}
#u2394 {
  position:absolute;
  left:434px;
  top:547px;
  width:261px;
  height:284px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:134px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2396 {
  position:absolute;
  left:171px;
  top:901px;
  width:51px;
  height:44px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:240px;
  top:901px;
  width:82px;
  height:16px;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  position:absolute;
  left:240px;
  top:929px;
  width:147px;
  height:16px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:137px;
}
#u2402 {
  position:absolute;
  left:171px;
  top:957px;
  width:317px;
  height:137px;
}
#u2403 {
  position:absolute;
  left:2px;
  top:60px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2404 {
  position:absolute;
  left:631px;
  top:1019px;
  width:64px;
  height:64px;
}
#u2405 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
