body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2230 {
  position:absolute;
  left:127px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:610px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:966px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:159px;
  top:133px;
  width:547px;
  height:966px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:475px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u2235 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:84px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2237 {
  position:absolute;
  left:362px;
  top:175px;
  width:142px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:34px;
}
#u2239 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:34px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:9px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:185px;
  top:173px;
  width:127px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u2244 {
  position:absolute;
  left:159px;
  top:892px;
  width:546px;
  height:1px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2246 {
  position:absolute;
  left:171px;
  top:485px;
  width:51px;
  height:44px;
}
#u2247 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2248 {
  position:absolute;
  left:240px;
  top:485px;
  width:147px;
  height:16px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2252 {
  position:absolute;
  left:171px;
  top:855px;
  width:17px;
  height:16px;
}
#u2252_img.selected {
}
#u2252.selected {
}
#u2253 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:188px;
  top:855px;
  width:38px;
  height:16px;
}
#u2255 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2257 {
  position:absolute;
  left:282px;
  top:851px;
  width:25px;
  height:25px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:314px;
  top:853px;
  width:82px;
  height:16px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2261 {
  position:absolute;
  left:160px;
  top:215px;
  width:546px;
  height:257px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2262 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2263 {
  position:absolute;
  left:91px;
  top:664px;
  width:17px;
  height:16px;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2267 {
  position:absolute;
  left:240px;
  top:513px;
  width:147px;
  height:16px;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:284px;
}
#u2269 {
  position:absolute;
  left:171px;
  top:547px;
  width:253px;
  height:284px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:134px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:284px;
}
#u2271 {
  position:absolute;
  left:434px;
  top:547px;
  width:261px;
  height:284px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:134px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2273 {
  position:absolute;
  left:171px;
  top:901px;
  width:51px;
  height:44px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2275 {
  position:absolute;
  left:240px;
  top:901px;
  width:82px;
  height:16px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2277 {
  position:absolute;
  left:240px;
  top:929px;
  width:147px;
  height:16px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:137px;
}
#u2279 {
  position:absolute;
  left:171px;
  top:962px;
  width:317px;
  height:137px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:60px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2281 {
  position:absolute;
  left:631px;
  top:1019px;
  width:64px;
  height:64px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2283 {
  position:absolute;
  left:810px;
  top:13px;
  width:613px;
  height:1237px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:610px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:966px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:842px;
  top:146px;
  width:547px;
  height:966px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:475px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u2288 {
  position:absolute;
  left:843px;
  top:146px;
  width:546px;
  height:84px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2290 {
  position:absolute;
  left:1045px;
  top:188px;
  width:142px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:34px;
}
#u2292 {
  position:absolute;
  left:843px;
  top:146px;
  width:546px;
  height:34px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:9px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2294 {
  position:absolute;
  left:868px;
  top:186px;
  width:127px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u2297 {
  position:absolute;
  left:843px;
  top:928px;
  width:546px;
  height:1px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2300 {
  position:absolute;
  left:855px;
  top:521px;
  width:51px;
  height:44px;
}
#u2301 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2302 {
  position:absolute;
  left:924px;
  top:521px;
  width:117px;
  height:16px;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2306 {
  position:absolute;
  left:855px;
  top:891px;
  width:17px;
  height:16px;
}
#u2306_img.selected {
}
#u2306.selected {
}
#u2307 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2308 {
  position:absolute;
  left:872px;
  top:891px;
  width:38px;
  height:16px;
}
#u2309 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2311 {
  position:absolute;
  left:966px;
  top:887px;
  width:25px;
  height:25px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2313 {
  position:absolute;
  left:998px;
  top:889px;
  width:82px;
  height:16px;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  position:absolute;
  left:924px;
  top:549px;
  width:147px;
  height:16px;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:284px;
}
#u2317 {
  position:absolute;
  left:855px;
  top:583px;
  width:253px;
  height:284px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:134px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:284px;
}
#u2319 {
  position:absolute;
  left:1118px;
  top:583px;
  width:261px;
  height:284px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:134px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2321 {
  position:absolute;
  left:843px;
  top:228px;
  width:546px;
  height:257px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:774px;
  top:677px;
  width:17px;
  height:16px;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u2327 {
  position:absolute;
  left:855px;
  top:937px;
  width:51px;
  height:44px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2329 {
  position:absolute;
  left:924px;
  top:937px;
  width:82px;
  height:16px;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  position:absolute;
  left:924px;
  top:965px;
  width:147px;
  height:16px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:121px;
}
#u2333 {
  position:absolute;
  left:855px;
  top:991px;
  width:317px;
  height:121px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:52px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2335 {
  position:absolute;
  left:1314px;
  top:1032px;
  width:64px;
  height:64px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2337 {
  position:absolute;
  left:1025px;
  top:494px;
  width:182px;
  height:16px;
  text-align:center;
}
#u2338 {
  position:absolute;
  left:0px;
  top:-2px;
  width:182px;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2339 {
  position:absolute;
  left:843px;
  top:928px;
  width:546px;
  height:184px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:84px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2342 {
  position:absolute;
  left:1051px;
  top:965px;
  width:136px;
  height:25px;
  font-size:18px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:46px;
}
#u2344 {
  position:absolute;
  left:980px;
  top:956px;
  width:55px;
  height:46px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:15px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:46px;
}
#u2347 {
  position:absolute;
  left:980px;
  top:1020px;
  width:55px;
  height:46px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:15px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2349 {
  position:absolute;
  left:1051px;
  top:1031px;
  width:136px;
  height:25px;
  font-size:18px;
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:54px;
}
#u2351 {
  position:absolute;
  left:1318px;
  top:1047px;
  width:89px;
  height:54px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:19px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
