body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2065 {
  position:absolute;
  left:127px;
  top:0px;
  width:613px;
  height:1237px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:610px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:966px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2067 {
  position:absolute;
  left:159px;
  top:133px;
  width:547px;
  height:966px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:475px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u2070 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:84px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2072 {
  position:absolute;
  left:362px;
  top:175px;
  width:142px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:34px;
}
#u2074 {
  position:absolute;
  left:160px;
  top:133px;
  width:546px;
  height:34px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:9px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u2076 {
  position:absolute;
  left:185px;
  top:173px;
  width:127px;
  height:32px;
  font-size:28px;
  color:#FFFFFF;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u2080 {
  position:absolute;
  left:160px;
  top:674px;
  width:546px;
  height:1px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u2083 {
  position:absolute;
  left:173px;
  top:482px;
  width:51px;
  height:45px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  position:absolute;
  left:234px;
  top:482px;
  width:118px;
  height:16px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u2087 {
  position:absolute;
  left:234px;
  top:530px;
  width:445px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2091 {
  position:absolute;
  left:234px;
  top:640px;
  width:17px;
  height:16px;
}
#u2091_img.selected {
}
#u2091.selected {
}
#u2092 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:251px;
  top:640px;
  width:38px;
  height:16px;
}
#u2094 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2096 {
  position:absolute;
  left:345px;
  top:636px;
  width:25px;
  height:25px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:377px;
  top:638px;
  width:82px;
  height:16px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:234px;
  top:505px;
  width:176px;
  height:16px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:234px;
  top:713px;
  width:176px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2104 {
  position:absolute;
  left:160px;
  top:215px;
  width:546px;
  height:257px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:2px;
  width:542px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:289px;
  top:627px;
  width:17px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u2110 {
  position:absolute;
  left:173px;
  top:687px;
  width:51px;
  height:42px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:234px;
  top:689px;
  width:82px;
  height:16px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u2114 {
  position:absolute;
  left:234px;
  top:739px;
  width:445px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u2118 {
  position:absolute;
  left:234px;
  top:805px;
  width:17px;
  height:16px;
}
#u2118_img.selected {
}
#u2118.selected {
}
#u2119 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:251px;
  top:805px;
  width:38px;
  height:16px;
}
#u2121 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2123 {
  position:absolute;
  left:345px;
  top:801px;
  width:25px;
  height:25px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:377px;
  top:803px;
  width:82px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2128 {
  position:absolute;
  left:171px;
  top:1059px;
  width:472px;
  height:40px;
  font-size:20px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:12px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#BFCDDA;
}
#u2130 {
  position:absolute;
  left:188px;
  top:1064px;
  width:425px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#BFCDDA;
}
#u2131 {
  position:absolute;
  left:0px;
  top:6px;
  width:425px;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
}
#u2132 {
  position:absolute;
  left:653px;
  top:1066px;
  width:48px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  line-height:28px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
