body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:746px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:968px;
}
#u465 {
  position:absolute;
  left:201px;
  top:0px;
  width:545px;
  height:968px;
}
#u466 {
  position:absolute;
  left:2px;
  top:476px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:849px;
}
#u467 {
  position:absolute;
  left:201px;
  top:968px;
  width:545px;
  height:849px;
}
#u468 {
  position:absolute;
  left:2px;
  top:416px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:804px;
}
#u469 {
  position:absolute;
  left:201px;
  top:1807px;
  width:545px;
  height:804px;
}
#u470 {
  position:absolute;
  left:2px;
  top:394px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:856px;
}
#u471 {
  position:absolute;
  left:201px;
  top:2621px;
  width:544px;
  height:856px;
}
#u472 {
  position:absolute;
  left:2px;
  top:420px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:749px;
}
#u473 {
  position:absolute;
  left:201px;
  top:3477px;
  width:545px;
  height:749px;
}
#u474 {
  position:absolute;
  left:2px;
  top:366px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:731px;
}
#u475 {
  position:absolute;
  left:201px;
  top:4226px;
  width:545px;
  height:731px;
}
#u476 {
  position:absolute;
  left:2px;
  top:358px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:5558px;
}
#u477 {
  position:absolute;
  left:201px;
  top:89px;
  width:545px;
  height:5558px;
}
#u478 {
  position:absolute;
  left:2px;
  top:2771px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  position:absolute;
  left:201px;
  top:38px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
