body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u109 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:0px;
  top:62px;
  width:320px;
  height:504px;
}
#u113 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u114 {
  position:absolute;
  left:0px;
  top:344px;
  width:320px;
  height:216px;
}
#u115 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:0px;
  top:26px;
  width:320px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:38px;
}
#u118 {
  position:absolute;
  left:17px;
  top:273px;
  width:284px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:2px;
  top:11px;
  width:280px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u120 {
  position:absolute;
  left:17px;
  top:151px;
  width:284px;
  height:40px;
  color:#AEAEAE;
}
#u121 {
  position:absolute;
  left:2px;
  top:11px;
  width:280px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u122 {
  position:absolute;
  left:17px;
  top:211px;
  width:284px;
  height:40px;
  color:#AEAEAE;
}
#u123 {
  position:absolute;
  left:2px;
  top:11px;
  width:280px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u124 {
  position:absolute;
  left:279px;
  top:317px;
  width:24px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u126 {
  position:absolute;
  left:17px;
  top:317px;
  width:61px;
  height:17px;
  font-size:12px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:56px;
}
#u128 {
  position:absolute;
  left:74px;
  top:85px;
  width:173px;
  height:56px;
}
#u129 {
  position:absolute;
  left:2px;
  top:20px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
